.DS_Store
.dart_tool/
example/lib/api.dart
.idea/
.vscode/
.packages
.pub/

build/
/example/ios/Podfile.lock
/.idea/workspace.xml
/embedly_preview.iml
/example/ios/Runner.xcodeproj/project.pbxproj
/example/ios/Runner.xcworkspace/contents.xcworkspacedata
